
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7B7B7D;
}


#page1{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    background: url(page1bak.jpg);
    background-size: cover;
}
#page1Content{
     background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;
     

}
.pageHead {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    

}


.thisContent{
    padding-left: 25%;
    padding-right: 25%;
}
#page1Content h1, #page2Content h1{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px black;
}
#page1Content p{
   
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}
.action{
    padding-left: 25%;
    padding-top: 25px;
    color: white;
}

#goToWork{
   float:left;
   padding-top: 20px;
   padding-right: 10px;
}
.action a{
    color: white;
}


#page2{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
     background: url(page2bak.jpg);
    background-size: cover;
    
}
#page2Content{
    background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;

}

#myWork{
    color: white;
    word-wrap: break-word;
    font-size: 16px;
    text-shadow: 1px 1px black;
    
}



#myWork td{
   vertical-align: top;
   text-align: left;
   width: 25%;
   
   padding-top: 10px;
   
}
.screenGrab{
    width: 100%;
}

#page3{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    background: url(page2bak.jpg);
    background-size: cover;
    
}
#page3Content{
    background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;

}
#page3Content h1{
    font-size:50px;
    color: white;
    text-shadow: 1px 1px black;
    
    
}
.contactHead {
    /*width: 60%;*/
    margin-left: 20%;
    margin-right: 20%;
 }