
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7B7B7D;
}


#page1{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    background: url(page1bak.jpg);
    background-size: cover;
}
#page1Content{
     background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;
     

}
.pageHead {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    

}


.thisContent{
    padding-left: 25%;
    padding-right: 25%;
}
#page1Content h1, #page2Content h1{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px black;
}
#page1Content p{
   
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}
.action{
    padding-left: 25%;
    padding-top: 25px;
    color: white;
}

#goToWork, #toAboutMe{
   float:left;
   padding-top: 20px;
   padding-right: 10px;
}
.action a{
    color: white;
}


#page2{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
     background: url(page2bak.jpg);
    background-size: cover;
    
}
#page2Content{
    background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;

}
/* the grid for showing off my work page 2*/
.grid:after{
  content: '';
  display: block;
  clear: both;
}

.grid img{
    width: 100%;

}

.grid{
  max-width: 1200px;
  margin: 0 auto;
   font-size: 16px;
   margin-bottom: 10px;

}
.grid-item{
  float: left;
  width: 150px;
  height: 150px;
  text-align: left;
  margin-bottom: 2px;
  border: 2px solid black;
  border-radius: 5px;


}
.clear{
  clear: both;
}
.foot{
  float: none;
 
   overflow: hidden;
}
.grid-item a{
  color: white;
}
#page3{
    width: 100vw;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    background: url(page3bak.jpg);
    background-size: cover;
    
}
#page3Content{
    background-color: rgba(1, 1, 1, 0.83);
     width: 100vw;
     height: 100vh;
     padding-top: 25px;

}
#page3Content h1{
    font-size:50px;
    color: white;
    text-shadow: 1px 1px black;
    
    
}
.contactHead {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
 }
 .page3Body{
    text-align: left;
    font-size: 20px;
    padding-left: 25%;
    color: white;
    text-shadow: 1px 1px black;
 }
 .page2footer{
    height: 10%;
    padding-left: 25%;
    padding-top: 20%;
    font-size: 20px;
    color: white;
    
 }
 #toBottom1{
    position: absolute;
    height: 10%;
    padding-left: 25%;
    padding-right: 25%;
    bottom: -200%;
   
   
 }
 #toBottom2{
    position: absolute;
    height: 10%;
    padding-left: 25%;
    padding-right: 25%;
    bottom: -100%;
}
#toTopTable{
    border-spacing: 10px;
}
.toTopTable td{
    padding: 5px;
}

.allFooters{
    color: white;
    font-size:20px;
  }